/* shared style  */
.azeret-mono-font {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }
  .btn-primary{
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    background-color: white;
    padding: 17px 24px 17px 24px;
    color: rgb(13, 19, 33);
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
  }
  .section-title{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin: 24px 0px;
  }
  .section-subtitle{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 48px;
  }

  /* header section  */
  .nav-bar{
      display: flex;
      justify-content: space-between;
      margin: 40px 140px;
  }
  .nav-h1{
      font-size: 28px;
      font-weight: 800;
  }
  .hero{
      height: 650px;
      background-image: url('../assets/Hero-bg.png');
      background-size: cover;
      padding: 30px 200px;
      
  }
  .hero-img{
      display: flex;
      justify-content: center;
  }
  .hero-title{
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
  }
  .hero-subtitle{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
  }
  .hero-btn{
    padding: 21px 24px 21px 24px;
    background-color: black;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
  }
  .hero-link{
    display: flex;
    justify-content: center;
  }
  .hero-link {
      text-decoration: none;
  }

  /* main section  */
  .development{
      margin: 60px 150px;
      border-radius: 16px;
      background: rgba(13, 19, 33, 0.02);
      padding: 80px 90px;
  }
  
  .development-item1{
      display: flex;
      justify-content: space-between;
      gap: 100px;
      border-radius: 16px;
     background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
     padding: 48px;
     margin-top: 32px;
  }
  .item-title{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    margin: 16px 0px;
  }
  .item-subtitle{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    margin: 16px 0px;
    opacity: 0.7;
  }
  #flex-reverse{
      display: flex;
      flex-direction: row-reverse;
  }